extends base_layout

block append scripts
    script(src='/js/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
        $("#tableBody tr").css('cursor', 'pointer');
        
        $("#tableBody tr").click(function() {
          console.log('this.name: ' + $(this).attr('name'));
          window.location = "/update_collectors/" +$(this).attr('name');
        });
      });


block append content
  div(class="container ")
    div(class="row")
      div(class="col-md-1")
          a(class="btn btn-primary" href="/add_collectors") Add collector
    div(class="row")      
      div(class="col-md-9")        
        table(class="table")
          thead
            tr
              th Institution
              th Name
              th MAC
              th Description
          tbody(id="tableBody")
            -var jsonArray = JSON.parse(collectors)
            for data in jsonArray
              tr(name="#{data._id}") 
                td= data.institution_name
                td= data.name
                td= data.mac
                td= data.description