tr(name="#{rfiddata.identificationcode}")
  td= rfiddata.institution_name
  td= rfiddata.collector_name
  td= rfiddata.species_name
  td= rfiddata.idantena
  td= rfiddata.identificationcode
  td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')