extends base_layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
        $("#tableBody tr").css('cursor', 'pointer');
        
        $("#tableBody tr").click(function() {
          console.log('this.name: ' + $(this).attr('name'));

          window.location = "/update_tagged_fishes_pittag/"+$(this).attr('name');
        });
      });

        var socket = io.connect('http://localhost:8082');

        socket.on('connect', function(data){
            console.log("Connected to Node.js Server");            
            socket.emit('subscribe', {channel:'realtime'});
        });

        socket.on('rfiddata', function (data) {
            var rowCount = $('#myTable tr').length;
            if(rowCount == 20){
                $('#tableBody tr:last').remove();
            }
            $('#tableBody').prepend(data.htmlRow);

            $('#tableBody tr:nth-child(1)').click(function() {
              console.log('this.name: ' + $(this).attr('name'));
              window.location = "/update_tagged_fishes_pittag/"+$(this).attr('name');
            });
            $('#tableBody tr:nth-child(1)').css('cursor', 'pointer');

            if($('#tableBody tr:nth-child(2)').attr("class") == "success"){                   
                
            }else{
                $('#tableBody tr:nth-child(1)').addClass("success");
            }
        });

        socket.on('info', function (data) {
            console.log('Info: ', data);            
        });
 

block stylesheets
  link(href="/css/style.css" rel="stylesheet")

block append content
  div.container.highlight
    div.row.starter-template
    div(class="col-md-12")
        table(id="rfidtable" class="table")
            thead
                tr
                    th Institution
                    th Collector
                    th Species
                    th Antena ID
                    th PIT TAG
                    th Date & Time
            tbody(id="tableBody")
                -var jsonArray = JSON.parse(rfiddata_list)
                -var odd = 0
                for rfiddata in jsonArray
                    if odd == 0
                        -odd = 1
                        tr(name="#{rfiddata.identificationcode}" class="success") 
                            td= rfiddata.institution_name
                            td= rfiddata.collector_name
                            td= rfiddata.species_name
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')
                    else
                        -odd = 0
                        tr(name="#{rfiddata.identificationcode}")
                            td= rfiddata.institution_name
                            td= rfiddata.collector_name
                            td= rfiddata.species_name
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')

                       