extends index

block scripts
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript').
        var socket = io.connect('http://179.106.217.28:8082/');

        socket.on('connect', function(data){
            console.log("Connected to Node.js Server");            
            socket.emit('subscribe', {channel:'realtime'});
        });

        socket.on('rfiddata', function (data) {
            $('#tableBody tr:last').remove();
            $('#tableBody').prepend(data.htmlRow);
            
            if($('#tableBody tr:nth-child(2)').attr("class") == "success"){                   
                
            }else{
                $('#tableBody tr:nth-child(1)').addClass("success");
            }
        });

        socket.on('info', function (data) {
            console.log('Info: ', data);            
        });
 

block stylesheets
  link(href="/css/style.css" rel="stylesheet")

block append content
  div.container.highlight
    div.row.starter-template
    div(class="span-6")
        table(id="rfidtable" class="table")
            thead
                tr
                    th Collector ID
                    th Antena ID
                    th PIT TAG
                    th Date & Time
            tbody(id="tableBody")
                -var jsonArray = JSON.parse(rfiddata_list)
                -var odd = 0
                for rfiddata in jsonArray
                    if odd == 0
                        -odd = 1
                        tr(class="success") 
                            td= rfiddata.idcollectorpoint
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')
                    else
                        -odd = 0
                        tr
                            td= rfiddata.idcollectorpoint
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')

                       