//***************************************************************
//
// www.celtab.org.br
//
// Copyright (C) 2013
//                     Gustavo Valiati <gustavovaliati@gmail.com>
//                     Luis Valdes <luisvaldes88@gmail.com>
//                     Thiago R. M. Bitencourt <thiago.mbitencourt@gmail.com>
//
// This file is part of the FishBook project
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2
// of the License.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
//
//************************************************************

extends base_layout

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
        $("#tableBody tr").css('cursor', 'pointer');
        
        $("#tableBody tr").click(function() {
          console.log('this.name: ' + $(this).attr('name'));

          window.location = "/update_tagged_fishes_pittag/"+$(this).attr('name');
        });
      });

        var socket = io.connect('http://10.42.0.65:8082');

        socket.on('connect', function(data){
            console.log("Connected to Node.js Server");            
            socket.emit('subscribe', {channel:'realtime'});
        });

        socket.on('rfiddata', function (data) {
            var rowCount = $('#myTable tr').length;
            if(rowCount == 20){
                $('#tableBody tr:last').remove();
            }
            $('#tableBody').prepend(data.htmlRow);

            $('#tableBody tr:nth-child(1)').click(function() {
              console.log('this.name: ' + $(this).attr('name'));
              window.location = "/update_tagged_fishes_pittag/"+$(this).attr('name');
            });
            $('#tableBody tr:nth-child(1)').css('cursor', 'pointer');

            if($('#tableBody tr:nth-child(2)').attr("class") == "success"){                   
                
            }else{
                $('#tableBody tr:nth-child(1)').addClass("success");
            }
        });

        socket.on('info', function (data) {
            console.log('Info: ', data);            
        });
 

block stylesheets
  link(href="/css/style.css" rel="stylesheet")

block append content
  div.container.highlight
    div.row.starter-template
    div(class="col-md-12")
        table(id="rfidtable" class="table")
            thead
                tr
                    th Institution
                    th Collector
                    th Species
                    th Antena ID
                    th PIT TAG
                    th Date & Time
            tbody(id="tableBody")
                -var jsonArray = JSON.parse(rfiddata_list)
                -var odd = 0
                for rfiddata in jsonArray
                    if odd == 0
                        -odd = 1
                        tr(name="#{rfiddata.identificationcode}" class="success") 
                            td= rfiddata.institution_name
                            td= rfiddata.collector_name
                            td= rfiddata.species_name
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')
                    else
                        -odd = 0
                        tr(name="#{rfiddata.identificationcode}")
                            td= rfiddata.institution_name
                            td= rfiddata.collector_name
                            td= rfiddata.species_name
                            td= rfiddata.idantena
                            td= rfiddata.identificationcode
                            td= (new Date(rfiddata.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')

                       