extends base_layout

block append content


  -var collector_id = '';
  -var species_id = '';
  -var institution_id = '';
  -var tag = '';
  -var sortBy = '';
  -var sortOrder = '';
  -var results_limit = '';
  -var exportToCSV = '';
  
  if old_post
    -collector_id = old_post.collector_id;  
    -species_id = old_post.species_id;
    -institution_id = old_post.institution_id;
    -tag = old_post.tag;
    -sortBy = old_post.sortBy;
    -sortOrder = old_post.sortOrder;
    -results_limit = old_post.results_limit;
    -exportToCSV = old_post.exportToCSV;
    script(src='/js/jquery.min.js')
    script.
      $(document).ready(function(){
        $("#collectorID").val("#{collector_id}");
        $("#speciesID").val("#{species_id}");
        $("#institutionID").val("#{institution_id}");
        $("#sortBy").val("#{sortBy}");
        $("#sortOrder").val("#{sortOrder}");
      });


  div(class="container")
    div(class="row")
      div(class="col-md-9")
        form(role="form" method="post" action="search_rfids")
          div(class="row")
            div(class="form-group")
              div(class="col-md-6")

                label(for="speciesID") Species
                select(name="species_id" id="speciesID" class="form-control")
                  option(value="")
                  -var jsonArray = JSON.parse(species_list)
                  for data in jsonArray
                    option(value="#{data._id}") #{data.name}

                label(for="institutionID") Institution
                select(name="institution_id" id="institutionID" class="form-control")
                  option(value="")
                  -var jsonArray = JSON.parse(institutions_list)
                  for data in jsonArray
                    option(value="#{data._id}") #{data.name}

                label(for="collectorID") Collector
                select(name="collector_id" id="collectorID" class="form-control")
                  option(value="")
                  -var jsonArray = JSON.parse(collectors_list)
                  for data in jsonArray
                    option(value="#{data._id}") #{data.name}

                label(for="tag") TAG
                input(type="text" value="#{tag}" class="form-control" id="tag" name="tag")

                

              div(class="col-md-6")

                label(for="limit") Limit of results
                input(type="text" value="#{results_limit}" class="form-control" id="limit" name="results_limit")

                label(for="sortBy") Sort By
                select(name="sortBy" id="sortBy" class="form-control")
                  option(value="")
                  option(value="idcollectorpoint") Collector
                  option(value="identificationcode") TAG
                  option(value="datetime") Date

                label(for="sortOrder") Order
                select(name="sortOrder" id="sortOrder" class="form-control")
                  option(value="")
                  option(value="1") Ascending
                  option(value="-1") Descending                

                label(for="exportCSVID") Export to CSV
                input(type='checkbox' class="checkbox" id="exportCSVID" name="exportToCSV" checked=false)
          div(class="row")
              

            div(class="col-md-1")
              button(type="submit" class="btn btn-default btn-custom") Search
              //button(type="button" id="exportToCSV" class="btn btn-default btn-custom") Export to CSV
      if result_status
        div(class="col-md-9") #{result_status}

      if(result_list != '[]')
        div(class="col-md-9")        
          table(class="table")
            thead
              tr
                th Institution
                th Collector
                th Antenna
                th Species
                th TAG
                th Date
            tbody(id="tableBody")
            -var jsonArray = JSON.parse(result_list)
            for data in jsonArray
              tr 
                td= data.institution_name
                td= data.collector_name
                td= data.idantena
                td= data.species_name
                td= data.identificationcode
                td= (new Date(data.datetime)).toISOString().replace(/T/, ' ').replace(/\..+/, '')