extends index

block append content
  div(class="container ")
    div(class="row")
      div(class="col-md-1")
          a(class="btn btn-primary" href="/add_tagged_fishes") Add tagged fish
    div(class="row")      
      div(class="col-md-9")        
        table(class="table")
          thead
            tr
              th Specie
              th PIT Tag
              th Capture Local
              th Release Local
              th Total Length
              th Default Length
              th Weight
              th Sex
              th Observation
          tbody(id="tableBody")
          -var jsonArray = JSON.parse(tagged_fishes)
          for data in jsonArray
            tr 
              td= data.specie
              td= data.pit_tag
              td= data.capture_local
              td= data.release_local
              td= data.total_length
              td= data.default_length
              td= data.weight
              td= data.sex
              td= data.observation
